[Unit]
Description=nginx - high performance web server
Documentation=http://nginx.org/en/docs/
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
KillMode=none
ExecStartPre=/usr/local/cellar/nginx/sbin/nginx -t
ExecStartPre=-/usr/bin/pkill -SIGQUIT nginx
ExecStart=/usr/local/cellar/nginx/sbin/nginx
ExecReload=/usr/local/cellar/nginx/sbin/nginx -s reload
ExecStop=/usr/local/cellar/nginx/sbin/nginx -t
ExecStop=/usr/local/cellar/nginx/sbin/nginx -s quit
PrivateTmp=true

[Install]
WantedBy=multi-user.target
